/* section {
    padding: 1em;
    padding-bottom: 5em;
    text-align: center;
}

.days {
    font-weight: bold;
}

button {
    background-color: #008B8B;
    color: white;
    border-radius: 7px;
    border-color: black;
}

#dropdown-basic {
    background-color: #008B8B;
} */