
/* ****** POSITION OF BOXES FOR INDIVIDUAL DOCUMENTS******* */


/* *********************************************************** */
/* VACATE BUTTONS */
/* *********************************************************** */

.my-container #btn-1 {
    position: absolute; 
    top: 10%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 3% 12%;
    border:burlywood; 
    border-radius: 1rem; 

}


.my-container #btn-2{
    position: absolute; 
    top: 11%; 
    left: 72%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 5% 10%;
    border:burlywood; 
    border-radius: 1rem; 

}


.my-container #btn-3{
    position: absolute; 
    top: 36%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 8% 40%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-4{
    position: absolute; 
    top: 24%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 3% 20%;
    border:burlywood; 
    border-radius: 1rem; 

}


.my-container #btn-5{
    position: absolute; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 14% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-6{
    position: absolute; 
    top: 20%; 
    left: 47%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 10% 37%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-7{
    position: absolute; 
    top: 46%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 13% 37%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-8{
    position: absolute; 
    top: 74%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 10% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}


/* *********************************************************** */
/* JUDGMENT CAROUSEL BUTTONS  */
/* *********************************************************** */

.my-container #btn-9 {
    position: absolute; 
    top: 15%; 
    left: 77%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 8% 18%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-10{
    position: absolute; 
    top: 48%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 10% 37%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-11{
    position: absolute; 
    top: 68%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 5% 44%;
    border:burlywood; 
    border-radius: 1rem; 
}

.my-container #btn-12{
    position: absolute; 
    top: 13%; 
    left: 79%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 12% 16%;
    border:burlywood; 
    border-radius: 1rem; 
}

.my-container #btn-13{
    position: absolute; 
    top: 40%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 6% 42%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-14{
    position: absolute; 
    top: 56%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 7% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-15{
    position: absolute; 
    top: 63%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(238, 173, 76, 0.288);
    padding: 4% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-16{
    position: absolute; 
    top: 74%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(238, 173, 76, 0.288);
    padding: 2% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}

/* *********************************************************** */
/* ORDER CAROUSEL BUTTONS */
/* *********************************************************** */

.my-container #btn-17 {
    position: absolute; 
    top: 18%; 
    left: 26%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 13% 23%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-18{
    position: absolute; 
    top: 21%; 
    left: 77%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 10% 20%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-19{
    position: absolute; 
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 16% 35%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-20{
    position: absolute; 
    top: 90%; 
    left: 47%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 9% 42%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-21{
    position: absolute; 
    top: 5%; 
    left: 47%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 3% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}
.my-container #btn-22{
    position: absolute; 
    top: 51%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 17% 32%;
    border:burlywood; 
    border-radius: 1rem; 

}
.my-container #btn-23{
    position: absolute; 
    top: 84%; 
    left: 47%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 13% 38%;
    border:burlywood; 
    border-radius: 1rem; 

}

/* *********************************************************** */
/* PREPARING FOR COURT */
/* *********************************************************** */

.my-container #btn-24{
    position: absolute; 
    top: 34%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 12% 12%;
    border: solid; 
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-25{
    position: absolute; 
    top: 22%; 
    left: 73%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 12% 12%;
    border: solid; 
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-26{
    position: absolute; 
    top: 82%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 17% 13%;
    border: solid; 
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-27{
    position: absolute; 
    top: 69%; 
    left: 75%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    padding: 17% 13%;
    border: solid; 
    border:burlywood; 
    border-radius: 1rem; 

}