
/* 
#stage-info {
    margin-top: 5em;    
}

.evic-doc{
    background-color: cadetblue;
    margin: 5em; 
    height:100vw;

} */



/* 
#vacate_1 {
    margin: 5em; 
    height:100vw;
    /* background-position:center; */
    /* background-image: url(/src/components/stage/evictionNotices/vacate_1.jpg);
    background-repeat: no-repeat;
    background-size: contain; */


/* 
#court_order { */

    /* background-position:center; */
    /* background-image: url(/src/components/stage/evictionNotices/court_order.png);
    background-repeat: no-repeat;
    background-size: contain; */




/* #court_order {
    height: 10px;
    width: 10px;
    color: rgb(0, 255, 42);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/src/components/stage/evictionNotices/vacate_1.jpg);

}   */ 