/* SET UP FORMATTING FOR ALL PAGES */

body {
    flex-direction: column;
    margin: 0em;
    /* background:rgba(144, 170, 243, 0.466); */
    background: #f9f3e7;
    font-size: .8em;

    /* background-color: #294a66; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      /* FONT COLOR FOR ALL PAGES */
    color:#31302f;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    

  }

  h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    color: rgb(73, 81, 85);
 
  }

  .form-label{
    font-family: 'Bebas Neue', cursive;
    /* color:red; */
    font-size: 21px;
    padding: .2em;

  }
  
  
  h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

  }


  h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7em;

  }

  h6 {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: rgb(52, 63, 70);
 
  }

  h5 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 27px;
  }

  .alerth4 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 27px;
  }





  

main{
    /* align-items: center; */
    padding: 3em;
    /* text-align: center; */
  }

.padded{
  padding: 2em;
  width: 70%;
}

/* .extra-padded{
  width: 70%;
  text-align: center;
} */

h2 {
  text-align: left;
}


    /* SELECT FONT FAMILY */
  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  } */
/* ******************************************************* */
  /* HEADER AND FOOTER BACKGROUND COLOR AND FONT COLOR */
/* ******************************************************* */


  #nav-nav{
    background: #eeb89d2c;
    color:#31302f;
    box-shadow: .2px .2px .2px rgba(105, 90, 90, 0.2), .4px px 2px 0 rgba(0,0,0,0.19);
  }

  footer{
    background: #fce4d7f5;
    color:#423e3a;
    font-family: 'Bebas Neue', cursive;
    font-size:20px;
  }

  #nav-header{
    color:#746b62;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 20px;

  }

  #menu-button:not(collapsed){
    color: blanchedalmond;
  }

  .offcanvas{
    background-color: #bdc7c7f6;
      /* #c6e0e0 */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .offcanvas nav:hover{
    background-color: cornflowerblue;
  }

  .popover{
    background-color: #c6e0e0f3;
  }

  .popover-header{
    background-color: #eeb89d3f;
  }


    /* ******************************************************* */
  /* ALL TEXT ON PAGES (EXCEPT NAV BAR & THINGS IN SPECIAL CONTAINERS MENU */
  /* ******************************************************* */
  a {
    /* color:rgba(68, 10, 134, 0.822); */
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: rgba(65, 178, 223, 0.822);
  }

/* 
  .btn{
    border:#204d68;
  }

  .btn:hover {
    background-color: #95dbd4;
  } 
  .btn:active {
    background-color: #a895db;
    color:red;
  } */

/* ******************************************************* */
  /* ALL ACCORDIONS */
/* ******************************************************* */
.accordion-item{
   /* background-color: rgb(30, 168, 210); */
   /* border-color: rgb(30, 168, 210); */
  border-radius: 16px;
  background-color: #93aba200;
   /* border-width: 5px;  */
  border-color: #93aba200;
  color:#32363d;
}

.accordion-body{
  background-color: #a1425aad;
  background-color: #93aba20c;
  /* border: 2px double #b6ac96; */
  border-color: rgb(210, 132, 30);
  border-radius: 16px;
  /* color: #1c1947; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}



.accordion-button:not(collapsed){
  font-family: 'Bebas Neue', cursive;
  font-size: 14px;
  border-radius: 16px;
  background-color: #ccdad407 !important;
  border-color: red;
  color:#354350;
}

.accordion-button:not(.collapsed){
border-radius: 16px;
background-color: #ccdad407 !important;
border-color: red;
color:#294a66 !important;
}

.accordion-button:focus{
  border-radius: 16px;
  background-color: #ccdad4da !important;
  color: rgb(19, 67, 95);
}



/* ******************************************************* */
 /* BUTTONS FOR ALL PAGES -- EXCEPT DROPDOWN BUTTONS */
 /* ******************************************************* */
.button{
  font-family: 'Bebas Neue', cursive;
  background-color: #c6e0e0;
  border: 1px double #181716;
  color:#E0FBFC;
  color: #3b3333;
  padding-top: .05em;
  padding-bottom: .05em;
  padding-right: .5em;
  padding-left: .5em;

  /* border: none; */
  border-radius:16px;
  margin: .5em;
  /* padding: .7em; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.button:hover{
  background-color: #d9f4f4;
  border: 2px double #b6ac96;
  /* color:white; */
  /* border: none; */
}

/* .button:active{
  background-color: #269e92;
  color:white;
  border: none;
} */



/* ******************************************************* */
/* ALL DROPDOWN BUTTONS */
/* ******************************************************* */
#dropdown-basic {
  
  font-family: 'Bebas Neue', cursive;
  background-color: #c6e0e0;
  border: 1px double #3f3c35;
  border-radius: 16px;
  color: #3b3333;
  padding:.3em;
  /* box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19); */
}

#dropdown-basic:hover{
  /* color:#72280b; */
  background-color: #d9f4f4;
}

.dropdown-item:hover{
  background-color: #93aba259;
}

.dropdown-menu {
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  background-color: #bbd3d3ee;
  color: #682020;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* 
.dropdown-toggle{
  background-color: #93aba2 !important;
} */


/* ******************************************************* */
/* HOME PAGE: center all cards */
/* ******************************************************* */
.home {
    padding-top: 1em;
    padding-bottom: 1em;
    padding: 3em;
    text-align:center;
    align-items: center;
    margin: auto;
}

.container{
  align-items: center;
  width: 80vw;
  /* height: 70vh; */
  /* max-width: 800px; */
  align-items: center;
  /* padding-bottom: 3em; */
}

.card{
  background-color: #f3cebb00;
  margin: .5em;
  align-items: center;
  /* objectFit: cover; */
  /* height: 200px;
  width: 300px; */
  /* border-radius: 8000px;  */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

#llinfo{
  top: 3%;
  color: #3d4468;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.6em;
  background-color: rgba(0, 128, 0, 0);


}


.card-img-overlay{
  text-align: center;
  top: 76%;
}

.card-text{
  text-align: center;
}

#icon {

  height: 16em;
  width: 16em;

}
.card:hover{
  background-color: #eeb89d3f;
}

/* ******************************************************* */
/* EVICTION-MAP HOME */
/* ******************************************************* */

/* position of click - button for selecting proper document */
#doc-button-link{
    position:absolute;
    top: 50%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(238, 173, 76, 0);
    border:burlywood; 
    border-radius: 1rem; 


}

.modal-content{
  background-color: #a0bbbbf8;

}

.modal-title{
  font-family: 'Bebas Neue', cursive;
}


/* ******************************************************* */
/* OFF-CANVASE MENU TO LEARN ABOUT EVICTION CAUSES */
/* ******************************************************* */
/* #cause-menu{
  background-color: #93aba2e8;
} */


/* ******************************************************* */
/* OVERRIDE DEFAULT BACKGROUND COLOR FOR 'ALERT' BOXES */
/* ******************************************************* */
.text-box{
  background-color: #c6e0e000;
  font-size: .95em;
  border: 1px solid;
  border-radius: 16px;
  border-color: #221506;
  color: #32363d;
  /* min-width: 400px; */
  /* text-align: center; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  
}

.alert-heading{
  /* color:red; */
  font-family: 'Bebas Neue', cursive;
}
/* 
.carousel{
  margin:3%
} */

/* COLOR / SIZE ETC FOR 5 EVIC STAGE BUTTONS */

.number-button:not(active){
  font-family: 'Bebas Neue', cursive;
  border: 1px solid #131211;
  /* background-color: #257aa13a; */
  color:#201f1e;
  font-size: 1.2em;
  /* width: 5em; */
  /* height: 500px;  */
  border-radius: 50px;
  padding-top: .13em;
  padding-bottom: .09em;
  padding-right: .5em;
  padding-left: .5em;

  /* padding: .05em; */

  margin: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.number-button:hover{
  border: 3px solid #204d68;
  background-color: #E0FBFC;
  border-radius: 1.5rem;
}

.number-button:active{
  border: 3px solid #204d68;
  background-color: #E0FBFC !important;
  border-radius: 1.5rem;
}







/* ******************************************************* */
/* EVICTION STAGE (by stage) */
/* ******************************************************* */
.stages-all-map{
    /* padding-top: 2em; */
    padding-bottom: 5em;
    height: 60vh; 
    max-width: 550px;
}

#add-padding{
  padding-top: 2em;
}

/* #about-notice {
    width: auto;
    
} */

.my-container{
    max-width: 550px;
    /* position:absolute; */
    /* align-content: center; */
    width: auto; 
    max-height: fit-content;
    padding-bottom: 10%; 
    padding-top: 0%; 
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    float: none !important;

    /* padding-bottom: 10%;  */
    /* background-color: rgba(41, 143, 184, 0.678); */
    justify-content: center;
    

}


#doc-image{
    /* max-width: 750px; */
    padding: 0%;
    width: 100%;
    height: auto;
    /* min-width: 400px; */
    /* height: auto; */
    /* margin: auto;  */
    /* justify-content: center; */

    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

} 



/* ******************************************************* */

@media only screen 
    and (width: 375px) 
    and (height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        .welcome-message {
            width: 20em;
        }
}




/* ******************************************************* */
/* CONTACT PAGE */
/* ******************************************************* */

#contactInfo {
    /* text-align: center; */
    padding: 2em;
    padding-bottom: 5em;
}

#questionBox {
    padding-left: 3em;
    padding-right: 3em;
    /* padding-bottom: 3em; */
}

/* ******************************************************* */
/* ADMIN */
/* ******************************************************* */

section {
  padding: 1em;
  padding-bottom: 5em;
  text-align: center;
}

.days {
  font-weight: bold;
}

.volunteerForm {
  padding-left: 3em;
  padding-right: 3em;
}
