.my-container{
    position:relative;
    width: auto; 
    height: auto; 
    background-color: rgba(12, 13, 14, 0.678);
    /* text-align: center; */


}

.my-container img{
    padding: 10%;
    width: 100%;
    height: auto;
    /* text-align: center; */

}


.my-container #btn-17 {
    position: absolute; 
    top: 25%; 
    left: 32%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 10% 20%;
    border:burlywood; 
    border-radius: 1rem; 

}



.my-container #btn-18{
    position: absolute; 
    top: 25%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 5% 10%;
    border:burlywood; 
    border-radius: 1rem; 

}


.my-container #btn-19{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 11% 35%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-20{
    position: absolute; 
    top: 84%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 8% 35%;
    border:burlywood; 
    border-radius: 1rem; 

}

.my-container #btn-21{
    position: absolute; 
    top: 11%; 
    left: 48%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 3% 31%;
    border:burlywood; 
    border-radius: 1rem; 

}
.my-container #btn-22{
    position: absolute; 
    top: 48%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 14% 32%;
    border:burlywood; 
    border-radius: 1rem; 

}
.my-container #btn-23{
    position: absolute; 
    top: 75%; 
    left: 49%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(175, 50, 50, 0);
    padding: 9% 33%;
    border:burlywood; 
    border-radius: 1rem; 

}







/* {
    order_id: 1, 
    title: "Cause of Eviction",
    sub_title: "The order is required to explain the reason you are being evicted", 
    placement: "bottom"
  } */